@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@import "./base/normalize";
@import "./utils/variables";

* {
  font-family: $text-font;
}
header {
  text-align: center;
  .logo {
    height: 63px;
    box-shadow: 0px 1px 5px 0.5px #bebebe;
    position: relative;
    z-index: 10;
    &-img {
      width: 165px;
      margin-top: 25px;
    }
  }
  .location {
    background: $clr-bckgr--secondary;
    color: $text-clr--light;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-location-dot {
      position: relative;
      right: 17px;
      font-size: 17px;
    }
  }
  .intro {
    background: $clr-bckgr--primary;
    height: 290px;
    &-title {
      margin: 0px;
      font-size: 24px;
      font-weight: 900;
      padding-top: 40px;
    }
    &-paragraph {
      width: 306px;
      margin: 0px auto;
      font-size: 18px;
      color: $text-clr--light;
      padding-top: 40px;
    }
    &-btn {
      margin-top: 30px;
      height: 50px;
      width: 220px;
      border: 3px hidden #d8d8d8;
      border-radius: 50px;
      color: white;
      background: linear-gradient(355deg, $clr-primary 0%, $clr-secondary 100%);
      box-shadow: 0px 3px 8px 0px #808080d1;
      &--clickable {
        color: white;
        text-decoration: none;
        width: 220px;
        padding: 14px 21px;
        border: inherit;
        border-radius: 30px;
      }
    }
  }
}
main {
  display: flex;
  justify-content: center;
  counter-reset: steps-number;
  .steps {
    font-weight: 700;
    height: 380px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 27px;
    &-title {
      margin-top: 15px;
      margin-bottom: 5px;
      font-weight: 800;
    }
    &-first,
    &-second,
    &-third {
      background: $clr-bckgr--primary;
      width: 320px;
      height: 70px;
      display: flex;
      align-items: center;
      margin-left: 10px;
      border-radius: 20px;
      box-shadow: 0px 3px 15px 0px lightgrey;
      &--icon {
        margin: 0px 26px 0px 10px;
        width: 14px;
        padding-left: 0px;
        font-size: 18px;
        color: rgba(46, 46, 46, 0.55);
      }
      // &--counter {
      //   width: 20px;
      //   height: 20px;
      //   background: red;
      //   color: white;
      // }
      &::before {
        counter-increment: steps-number;
        content: counter(steps-number);
        width: 16px;
        height: 18px;
        padding-left: 8px;
        padding-top: 6px;
        font-size: 13.5px;
        border-radius: 15px;
        background: $clr-primary;
        color: white;
        position: relative;
        right: 13px;
        font-weight: 400;
      }
    }
    &-third {
      background-color: rgba(147, 86, 220, 0.1);
      margin-bottom: 40px;
      &--icon {
        color: $clr-primary;
      }
    }
  }
}
