@mixin animation-menu_items {
  .menu-content-buttons {
    opacity: 0;
    animation: appear 2s 3s forwards;
  }
  @keyframes appear {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  //   .proba-grashka {
  //     animation-delay: 4s;
  //   }
  .first-content-btn {
    animation-delay: 3.2s;
  }
  .second-content-btn {
    animation-delay: 3.4s;
  }
  .third-content-btn {
    animation-delay: 3.6s;
  }
  .forth-content-btn {
    animation-delay: 3.8s;
  }
  //   .menu-content:nth-child(3) {
  //     animation-delay: 5s;
  //   }
  //   .menu-content:nth-of-type(4) {
  //     animation-delay: 6s;
  //   }
}
