@mixin footer {
  footer {
    background: $clr-bckgr--footer;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    padding-right: 155px;
    .nav-title {
      font-family: $title-font;
      margin-right: 70px;
      font-size: 18px;
      font-weight: 100;
      margin-top: 25px;
      margin-bottom: 5px;
    }
    .nav {
      &-list {
        list-style: none;
        padding: 0px;
        &--item {
          margin-bottom: 8px;
          i {
            font-size: 13px;
            margin-right: 10px;
          }
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}
