.restaurants-main {
  height: 1407px;
  &--img_div {
    overflow: hidden;
    position: absolute;
    &--main_img {
      width: 100%;
      object-position: 0px 11px;
      transform: scale(1.1);
    }
  }
  .menu {
    height: 1187px;
    background: $clr-bckgr--primary;
    position: relative;
    border-radius: 40px 40px 0px 0px;
    top: 220px;
    min-width: 375px;
    width: 100%; //if I want to make the menues be 100% width just add the property here****************8
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 40px 0px 20px;
      h2 {
        font-family: $title-font;
        font-size: 28px;
        font-weight: 500;
      }
      .restaurants-cards--heart_container {
        height: 20px;
        width: 18px;
      }
      @include heart;
    }
    &-content {
      padding: 0px 13px;
      display: flex;
      flex-direction: column;
      align-content: center;
      gap: 13px;
      margin-bottom: 32px;
      &-type {
        font-weight: 400;
        font-size: 16px;
        margin-top: 13px;
        width: 335px;
        margin-bottom: 1px;
        margin-left: 6px;
        &::after {
          content: "";
          display: block;
          width: 40px;
          border-bottom: 3.5px solid $clr-tertiary;
          padding-bottom: 5px;
        }
      }
      &-buttons {
        border: none;
        border-radius: 15px;
        background: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 68px;
        align-content: space-between;
        padding: 0px 10px;
        box-shadow: 0 2px 20px -8px rgb(0 0 0 / 30%);
        &_title {
          margin-bottom: 0px;
          font-size: 18px;
          margin-top: 13px;
        }
        &_description {
          margin-bottom: 0px;
          margin-top: 4px;
          font-size: 15px;
        }
        &_price {
          margin-right: 10px;
          margin-top: 40px;
          font-weight: 600;
        }
      }
    }
    &-order {
      text-align: center;
      &_btn {
        @include gredient-button;
      }
    }
  }
}
