.restaurants-main {
  height: 1600px;
  &--img_div {
    overflow: hidden;
    position: absolute;
    &--main_img {
      width: 100%;
      object-position: 0px 11px;
      transform: scale(1.1);
    }
  }
  .menu {
    background: $clr-bckgr--primary;
    position: relative;
    border-radius: 40px 40px 0px 0px;
    top: 220px;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 40px 0px 20px;
      h2 {
        font-family: $title-font;
        font-size: 28px;
        font-weight: 500;
        // margin-left: 20px;
      }
      .fa-heart {
        transform: scale(1.4, 1.6);
        // margin-right: 40px;
      }
    }
  }
}
