$clr-primary: #9356dc;
$clr-secondary: #ff79da;
$clr-tertiary: #99e2d0;

$clr-bckgr--primary: #f6f6f6;
$clr-bckgr--secondary: #e9e9e9;
$clr-bckgr--footer: #383838;

$title-font: "Shrikhand", cursive;
$text-font: "Roboto", sans-serif;
$text-clr--light: #2e2e2ed4;

$shadow-steps: 0 4px 15px 0px rgb(0 0 0 / 15%);
$shadow-cards: 0 2px 20px -8px rgb(0 0 0 / 30%);
